TBsButton RCDATA "icons/TBsButton.png"
TBsCard RCDATA "icons/TBsCard.png"
TBsAlert RCDATA "icons/TBsAlert.png"
TBsToast RCDATA "icons/TBsToast.png"
TBsTooltip RCDATA "icons/TBsTooltip.png"
TBsPopover RCDATA "icons/TBsPopover.png"
TBsDropdown RCDATA "icons/TBsDropdown.png"
TBsCollapse RCDATA "icons/TBsCollapse.png"
TBsAccordion RCDATA "icons/TBsAccordion.png"
TBsBreadcrumb RCDATA "icons/TBsBreadcrumb.png"
TBsPagination RCDATA "icons/TBsPagination.png"
TBsNavTabs RCDATA "icons/TBsNavTabs.png"
TBsNavbar RCDATA "icons/TBsNavbar.png"
TBsModal RCDATA "icons/TBsModal.png"
TBsOffcanvas RCDATA "icons/TBsOffcanvas.png"
TBsCarousel RCDATA "icons/TBsCarousel.png"
TBsScrollSpy RCDATA "icons/TBsScrollSpy.png"
TBsBadge RCDATA "icons/TBsBadge.png"
TBsProgress RCDATA "icons/TBsProgress.png"
TBsSpinner RCDATA "icons/TBsSpinner.png"
TBsCheckBox RCDATA "icons/TBsCheckBox.png"
TBsInput RCDATA "icons/TBsInput.png"
TBsRange RCDATA "icons/TBsRange.png"
TBSPlaceholder RCDATA "icons/tbsplaceholder.png"
TBsListgroup RCDATA "icons/tbslistgroup.png"
TBsButtongroup RCDATA "icons/tbsbuttongroup.png"
TBsChart RCDATA "icons/tbschart.png"
